@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C191A;
}















/* HEADER */
header {
    height: 80px;
    border-bottom: 5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 0px;
    align-items: center;
}


/* LOGO */
.logo {
    font-size: 40px;
    color: #07c373;
    font-weight: 700;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* MENU DE NAVEGACION */
.nav {
    height: 50px;
    width: 150px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;
    position: relative;
    border: none;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    width: 60%;
    display: inline-flex;
    justify-content: flex-end;
    text-align: center;
    border: none;
    border-radius: 0 0 0px 10px;
}

.nav .nav-links a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.nav .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav #nav-check {
    display: none;
}

@media (max-width:950px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        cursor: pointer;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 5px;
        background-color: #eee;
        border-radius: 5px;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }

    .nav .nav-links a {
        display: block;
        width: 120px;
        padding-left: 20px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
    }

    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: 190px;
        overflow-y: hidden;
    }
}

/* HEADER */















/* MAIN */
main {
    text-align: center;
}

.titulo_del_curso {
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #07c373;
    font-weight: 1000;
    margin: 30px;
}

img {
    width: 20%;
    margin: 20px;
}

.contenido {
    color: white;
    margin: 40px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

.subtitulo {
    color: white;
    font-size: 35px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    text-align: left;
}

.sub_subtitulo {
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    text-align: left;
}

ul {
    margin: 40px 100px;
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

ul li {
    margin: 40px;
    text-align: left;
}

.imagen_de_la_lista {
    background-color: #333;
    border: 5px solid #07c373;
}